<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.palladiosimulator.org/simexp/dsl/smodel/smodel"
			class = "org.palladiosimulator.simexp.dsl.smodel.smodel.SmodelPackage"
			genModel = "model/generated/Smodel.genmodel" />
	</extension>
</plugin>
