<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.simexp.service.serviceregistry">
      <provider
            class="de.fzi.srp.simulatedexperience.prism.wrapper.service.PrismServiceProvider">
      </provider>
   </extension>

</plugin>
