<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.palladiosimulator.simexp.ui.workflow.preferences.SimExpPreferencePage"
            class="org.palladiosimulator.simexp.dsl.ea.ui.preferences.EAWorkbenchPreferencePage"
            id="org.palladiosimulator.simexp.dsl.ea.ui.preferences.EAPreferencePage"
            name="Evolutionary algorithm">
      </page>
   </extension>

</plugin>
